.thanks {
  @include mq(medium) {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 6rem;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  .login__hero {
    width: initial;
  }

  &__content {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5rem;

    @include mq(medium) {
      top: 2rem;
      width: 380px;
    }

    h2 {
      width: 210px;
      margin-bottom: 0;
    }

    .description {
      margin-top: -1.5rem;
    }

    a.button {
      @include button();
      margin-top: 1rem;
      display: flex;
      margin-left: auto;
      width: fit-content;
    }
  }
}
