@mixin mq($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if type-of($breakpoint) == number and unit($breakpoint) == "px" {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if(type-of($breakpoint) == number and unit($breakpoint) == "em") {
    @media (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin button() {
  display: inline-block;
  text-decoration: none;
  margin-top: 3rem;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: $blue;
  color: $light-gray;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: lighten($blue, 8);
  }
}
