$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 11%, 95%);
$blue: hsl(213, 52%, 49%);
$light-black: #444;
$red: hsl(348, 60%, 50%);
$green: rgb(130, 190, 60);
$gray: rgb(172, 172, 172);

$font-open-sans: "Open Sans", sans-serif;

$breakpoints: (
  small: 375px,
  medium: 983px,
  large: 1024px,
  x-large: 1440px,
);
